@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('Roboto Mono'),
    url('/fonts/roboto-mono-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans'), local('DM Sans'),
    url('/fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans'), local('DM Sans'),
    url('/fonts/dm-sans-v17-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans'), local('DM Sans'),
    url('/fonts/dm-sans-v17-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('Crimson Text'),
    url('/fonts/crimson-text-v19-latin-regular.woff2') format('woff2');
}

::selection {
  background-color: #000000;
  color: #ffffff;
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
