@mixin tablet() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin laptop-header() {
  @media screen and (min-width: 1500px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

@function vw($px) {
  @return ($px / 1920) * 100vw;
}
