$default-font: 'Roboto Mono', sans-serif;
$secondary-font: 'DM Sans', sans-serif;
$tertiary-font: 'Crimson Text', sans-serif;

$main-bg-color: #fff;
$main-text-color-dark: #000;
$main-text-color-light: #fff;
