@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/geist-v4-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/geist-v4-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/geist-mono-v4-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Anek Tamil';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/anek-tamil-v18-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Anek Tamil';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/anek-tamil-v18-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/instrument-sans-v4-latin-700.woff2') format('woff2');
}

::selection {
  background-color: #000000;
  color: #ffffff;
}

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
