$default-font: 'Anek Tamil', sans-serif;
$secondary-font: 'Geist', sans-serif;
$tertiary-font: 'Geist Mono', sans-serif;
$logo-font: 'Instrument Sans', sans-serif;

$violet: #808cfd;
$light-violet: #e9ecff;
$wight: #fff;
$black: #000;

$transition: 0.25s ease-out;
